<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title() %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="shortcut icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>" type=image/x-icon>
  </head>
  <body>
    <%# <style>
      a:visited{
        color: red;
      }
    </style> %>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <%= if Plug.Conn.get_session(@conn, :user_id) do %>
              <li>
                <a href= <%= Routes.user_path(@conn, :edit, Plug.Conn.get_session(@conn, :user_id)) %>> <%= get_session(@conn, :user_name) || HelloContextWeb.UserView.get_user_name(@conn)%> </a>
                <a href= <%= Routes.session_path(@conn, :login_out) %>> Login out </a>
              </li>
            <% else %>
              <li>
                <a href= <%= Routes.session_path(@conn, :new) %>>Login </a>
              </li>
            <%end %>
          </ul>
        </nav>
        <a href="/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>

  
  <div class="footer">
    <div align="center">
      <font size="1.5">本站所有资源来源于互联网网友交流,只供网络测试和学习交流所用、所有资源版权归原权利人，如有关资源侵犯了你的权益，请联系告之，我们将于第一时间删除！ </font> </br>
      <font size="1.5">联系站长：longkui.clown@gmail.com</font> </br>
      <a href="http://www.miitbeian.gov.cn/" target="_blank">
        <font size="1.7">蜀ICP备19006265号</font> 
      </a>
    </dib>
  </div>

</html>
